.translation-service-page {
  .translation-service {
    padding: $padding;

    form {
      .input-wrap {
        margin-bottom: 20px;

        label {
          margin-bottom: 20px;
        }

        input,
        select {
          background-color: #eee;
          padding: 15px;
          min-height: 45px;
          border-radius: 6px;

          &[type="submit"] {
            width: fit-content;
            min-width: 180px;
            @extend.green-btn;
          }
        }

        textarea {
          resize: none;
          background-color: #eee;
          padding: 15px;
          border-radius: 6px;
        }

        select {
          -webkit-appearance: none;
          -moz-appearance: none;
          text-indent: 10px;
          font-family: $fontDin;
          background-image: url('../images/chevron-down-solid.svg');
          background-repeat: no-repeat;
          background-size: 15px;
          background-position: left 5% center;
          cursor: pointer;

          option {
            font-family: $fontDin;
          }
        }
      }
    }
  }
}